@using Axe.Models;
@model Axe.ViewModels.CompilerVm.CodeBlockVm
@{
    ViewData["Title"] = "Solve task #" + Model.Id;
}

@section Scripts
{
    <script type="text/javascript">
        $("form#formSolve").submit(function (e) {
            $('#btnCheck').attr('disabled', true);
            (function () {
                var i = 1;
                var countOfDelimeters = 3;
                setInterval(function () {
                    if (i > countOfDelimeters)
                        i = 1;
                    $('#btnCheck').attr('value', 'Checking' + '.'.repeat(i));
                    i++;
                }, 500);
            })();
            return true;
        });

        var editor = CodeMirror.fromTextArea(document.getElementById("sourceCodeTextArea"), {
            lineNumbers: true,
            matchBrackets: true,
            mode: "text/x-csharp"
        });
    </script>
}

<h2>Roslyn .NET compiler platform page</h2>

<p><b>Task:</b> @Model.Task</p>

@if (ViewData["StatusOfExecuting"] != null)
{
    @switch ((CodeBlockResult)ViewData["StatusOfExecuting"])
    {
        case CodeBlockResult.ERROR:
        case CodeBlockResult.FAILED:
            <div class="alert alert-danger" role="alert">
                <div asp-validation-summary="All"></div>
            </div>
            break;
        case CodeBlockResult.SUCCESS:
            <div class="alert alert-success" role="alert">
                All is done right
            </div>
            break;
    }
}
else
{
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>
    }
}

<form id="formSolve" asp-controller="Compiler" asp-action="Solve" method="post">
    <input asp-for="Id" value="@Model.Id" hidden />
    <input asp-for="Task" value="@Model.Task" hidden />
    <div class="form-group">
        <label asp-for="SourceCode"></label>
        <textarea asp-for="SourceCode" id="sourceCodeTextArea" rows="20" value="@Model.SourceCode" class="form-control"></textarea>
    </div>
    <input id="btnCheck" type="submit" value="Check" class="btn btn-primary"/>
</form>