@{
    ViewData["Title"] = "404";
}

<br />
<h1 class="text-danger text-center">
    <span class="glyphicon glyphicon-eye-open"></span>    
</h1>

<h1 class="text-danger text-center">    
    Requested action is not available
</h1>

<h1 class="text-danger text-center">
    <span class="glyphicon glyphicon-eye-close"></span>    
</h1>