
@{
    ViewData["Title"] = "Answer";
}

@section Scripts
{
    <script src="~/js/qiuz.participate.js"></script>
}

<h2>Answers</h2>
<hr />

<div class="row">
<p id="question" class="col-md-6">

</p>
</div>

<div class="row">
    <div class="col-md-6">
        <textarea id="msg" rows="8" class="form-control"></textarea>
    </div>
</div>

<br />
<div class="form-group">
    <span id="send" class="btn btn-primary">Send</span>
</div>
<div id="inbox"></div>


