@{
    ViewData["Title"] = "Statistics";
}

@section Scripts{ 
    <script src="~/js/home.statistics.js"></script>
}

<h2 class="text-primary">Statistics</h2>

<h3><span  class="text-primary">Total User:</span> <span id="total"></span></h3>

<hr />

<h3 class="text-primary">Attempts Per Day</h3>

<div class="form-group">
    <div class="row">
        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">From</span>
                <input id="periodStart" type="datetime" class="form-control" />
            </div>
        </div>

        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">To</span>
                <input id="periodEnd" type="datetime" class="form-control" />
            </div>
        </div>

        <button id="showExams" class="btn btn-primary">Show</button>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Attempts</th>
                    </tr>
                </thead>
                <tbody id="exams"></tbody>
            </table>
        </div>
    </div>
</div>

<hr />

<h3 class="text-primary">Examiners</h3>

<div>
    <div class="row">
        <div class="col-md-6 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-th"></span>Examiner</th>                        
                        <th>Technology</th>
                        <th>Success</th>
                        <th>Failure</th>
                    </tr>
                </thead>
                <tbody id="experts"></tbody>
            </table>
        </div>
    </div>
</div>

<hr />

<h3 class="text-primary">Technologies Difficulty</h3>

<div>
    <div class="row">
        <div class="col-md-6 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-th"></span></th>
                        <th>Name</th>
                        <th>Attempts</th>
                        <th>Avg Score, %</th>
                        <th>Assessments</th>
                        <th>Avg Score</th>                        
                    </tr>
                </thead>
                <tbody id="techs"></tbody>
            </table>
        </div>
    </div>
</div>

<hr />

<h3 class="text-primary">Questions Difficulty</h3>

<div>
    <div class="row">
        <div class="col-md-6 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-th"></span></th>
                        <th>Technology</th>
                        <th>%</th>
                        <th>Successful</th>
                        <th>Attempted</th>
                        <th>Text</th>
                    </tr>
                </thead>
                <tbody id="questions"></tbody>
            </table>
        </div>
    </div>
</div>