@model Axe.Models.AssessmentsVm.AssessmentInputVm

@{
    ViewData["Title"] = "New skill assessment";
}

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>New skill assessment</h4>
        <hr />

        @await Html.PartialAsync("Assessments/_AssessmentEditor")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Assign" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
