@model Axe.Models.AssessmentsVm.AssessmentInputVm

@{
    ViewData["Title"] = "Edit Skill Assessment";
}

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Skill Assessment</h4>
        <hr />
        <input type="hidden" asp-for="Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @await Html.PartialAsync("Assessments/_AssessmentEditor")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
