@model  Axe.Models.AssessmentsVm.AssessmentInputVm

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="StudentId" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="StudentId" class="form-control" asp-items="@Model.Students"></select>
    </div>
</div>
<div class="form-group">
    <label asp-for="ExaminerId" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="ExaminerId" class="form-control" asp-items="@Model.Examiners"></select>
    </div>
</div>
<div class="form-group">
    <label asp-for="TechnologyId" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="TechnologyId" class="form-control" asp-items="@Model.Technologies"></select>
    </div>
</div>

<div class="form-group">
    <label asp-for="ExamDate" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="ExamDate" class="form-control" />
        <span asp-validation-for="ExamDate" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="ExamTime" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="ExamTime" class="form-control" />
        <span asp-validation-for="ExamTime" class="text-danger"></span>
    </div>
</div>