html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 64px; /* bottom = footer height */
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*https://stackoverflow.com/questions/3443606/make-footer-stick-to-bottom-of-page-correctly*/
footer {
    position: absolute;
    bottom: 10px;
    left: 5%;
    right: 5%;
    height: 64px;    
    overflow: hidden;
    text-align: center;
}

.table-responsive {
    max-height: 280px;
}

a:hover {
    text-decoration: none;
}

/*tabs without corner radius*/
.nav-tabs.nav-justified > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.nav-pills > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.label {
    border-radius: 0;
    padding: 5px 10px;    
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    /*max-width: 810px;*/
    white-space: pre-wrap;    
}

.codeblock {
    white-space: pre-wrap;
}

th {
    background: #d9edf7;        
    font-weight: normal;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.techCard {
    border: solid 2px gainsboro;
    margin-top: 8px;
    margin-left: 8px;
    padding: 16px;
    font-size: 28px;
    color: black;
    text-align: center;
}

.techCard:hover {
    background-color: #039;
    color: white;
}

.techTitle {
    margin-bottom: 8px;
    padding: 4px 28px;    
    border: solid 1px gray;
    font-size: 20px;
    color: black;
    background-color: white;
}

.userCard {
    border: solid 1px gainsboro;
    margin: 4px;
    padding: 4px;
    font-size: 14px;
    color: black;    
}

.userCard:hover {
    background-color: #039;
    color: white;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
    display: none
  }
}
