html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 64px; /* bottom = footer height */
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*https://stackoverflow.com/questions/3443606/make-footer-stick-to-bottom-of-page-correctly*/
footer {
    position: absolute;
    bottom: 10px;
    left: 5%;
    right: 5%;
    height: 64px;
    overflow: hidden;
    text-align: center;
}

.table-responsive {
    max-height: 280px;
}

a:hover {
    text-decoration: none;
}

/*tabs without corner radius*/
.nav-tabs.nav-justified > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.nav-pills > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.label {
    border-radius: 0;
    padding: 5px 10px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    /*max-width: 810px;*/
    white-space: pre-wrap;
}

.codeblock {
    white-space: pre-wrap;
}

.codeblock-keyword {
    color: blue;
}

.codeblock-reserved {
    color: magenta;
}

.codeblock-string {
    color: brown;
}

pre {
    margin: 0px;
}

.dropArea {
    min-height: 80px;
    background: #eee;
    padding: 5px;
}

th {
    background: #d9edf7;
    font-weight: normal;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.techCard {
    border: solid 2px gainsboro;
    margin-top: 8px;
    margin-left: 8px;
    padding: 16px;
    font-size: 28px;
    color: black;
    text-align: center;
}

    .techCard:hover {
        background-color: #039;
        color: white;
    }

.techTitle {
    margin-bottom: 8px;
    padding: 4px 28px;
    border: solid 1px gray;
    font-size: 20px;
    color: black;
    background-color: white;
}

.userCard {
    border: solid 1px gainsboro;
    margin: 4px;
    padding: 4px;
    font-size: 14px;
    color: black;
}

    .userCard:hover {
        background-color: #039;
        color: white;
    }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

.figure-main {
    min-height: 40px;
    /*background: #d6e0f5;*/
    border-radius: 8px;
    border: 1px solid #d6e0f5;
}

.figure-header {
    font-size: 18px;
    background: #4673d2;
    color: white;
    padding: 12px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.figure-header-toggle {
    float: right;
}

.figure-content {
    margin-bottom: 0px;
}

    .figure-content > dt {
        padding: 4px 4px;
        font-size: 14px;
        font-weight: normal;
        /*background: #99ccff;*/
        background: #d6e0f5;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .figure-content > dd {
        margin-left: 24px;
        padding: 2px;
        font-size: 14px;
    }

.figure-group-toggle {
    float: left;
    margin: 2px 4px;
}

.figure-item-pin {
    float: left;
    vertical-align: top;
}

.figure-footer {
    min-height: 16px;
}


div.timesetter {
    float: left;
}

.timesetter table {
    margin: 0px 4px;
}

.timesetter tr {
    line-height: normal;
}

    .timesetter tr.active > td {
        font-size: 16px;
        padding: 5px;
    }

.timesetter td {
    padding: 2px 5px;
    text-align: center;
    font-size: 12px;
}
